!!!
%html
%head
%title Presslang
%link{:href => "http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT", :rel => "stylesheet", :type => "text/css"}
%link{:href => "http://fonts.googleapis.com/css?family=Molengo", :rel => "stylesheet", :type => "text/css"}
%link{:href => "http://fonts.googleapis.com/css?family=Cuprum", :rel => "stylesheet", :type => "text/css"}
= stylesheet_link_tag "reset.css"
= stylesheet_link_tag "text.css"
= stylesheet_link_tag "960.css"
= stylesheet_link_tag "style"
= javascript_include_tag "jquery", "application", "rails"
= csrf_meta_tag
%body
%div.container_16{:id => "main"}
  %div.grid_16.content{:id => "banner"}
    %h1.banner
      Presslang
    %div.subbanner nom masculin, petit langage de la presse
  %div.clear
  = yield
  %div.clear
  %div.grid_16.content{:id => "footer"}
    %div.grid_7.alpha
      %div.text
        %h3 format
        %p.format
          mot/expression : nom/adjectif/verbe genre, définition #presslang
          <br />exemple :<br />
          presslang : nom masculin, petit langage de la presse #presslang
    %div.grid_8
      %div.text
        %p Ce site ne fait qu'extraire les tweets utilisant le hashtag "#presslang". Les mainteneurs de ce site ne sont pas responsables des propos qui y sont donc présentés.
    %div.clear
  %div.clear